/* .navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}


.buttonclass{
   
        height: 40px;
        width: 100px;
        background:#2083da; 
        margin: 20px;
        float: left;
        box-shadow: 0 0 1px #ccc;
       
        color: white;
        border: 0px;
        color: #fff;
        padding: 5px 10px 5px 10px;

  border-radius: 10px;

    
}
.buttonclass:hover{
   
    cursor: pointer;
}
.aclass {
    text-decoration: none;
    color: white;
    font-size:1em;
} */
.body-content {
    padding: 15px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
 font-family: 'Roboto', sans-serif; 

}
.input{
    padding: 2px;
    margin: 5px;
}
body{
    padding-top:70px ;
}
.navbar-brand{
    color: white;
}
.nav-item{
    color: white;
}
.nav-link{
   color: white;
}
.buttonclass{
   
    height: 40px;
    width: 100px;
    background:#2083da; 
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
   
    color: white;
    border: 0px;
    color: #fff;
    padding: 5px 10px 5px 10px;

border-radius: 10px;


}
