{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{name}}! <br>
    <a href="{{ url_for('admin.addCourse') }}"><button>Add Course</button></a>
    <a href="{{ url_for('admin.addStudent') }}"><button>Register Student</button></a>
    <a href="{{ url_for('admin.addEducator') }}"><button>Add Educator</button></a>
</h1>
<h1 class="title">Add Educator to a course</h1>
<form method="POST" action="/addEducator" enctype="multipart/form-data">
    <!-- <input type="text" name="courseId" placeholder="Enter Course Number"> -->
    <div class="field">
        <div class="control"> Select Course:
            <select id="courseId" name="courseId">
                <option value="0" disabled selected>Select</option>
                {% for coursei in courses %}
                <option value={{coursei.course_id}}>{{coursei.course_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br><br>
    <div class="field">
        <div class="control"> Select Educator:
            <select id="educatorId" name="educatorId">
                <option value=0 disabled selected>Select</option>
                {% for educatori in educators %}
                <option value={{educatori.user_id}}>{{educatori.first_name}} {{educatori.last_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input class="input is-large" type="date" name="start_date" >
    <input class="input is-large" type="date" name="end_date" >
    <input class="input is-large" type="date" name="upload_date" >
    <input type="submit" value="Add Educator">
{{message}}
{% endblock %}