{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{name}}! <br>
    <a href="{{ url_for('admin.addCourse') }}"><button>Add Course</button></a>
    <a href="{{ url_for('admin.addStudent') }}"><button>Register Student</button></a>
    <a href="{{ url_for('admin.addEducator') }}"><button>Add Educator</button></a>
    <a href="{{ url_for('admin.getAllStudents') }}"><button>Get Students List</button></a>
</h1>
<h1 class="title">Add Student to a Course</h1>
<form method="POST" action="/addStudent" enctype="multipart/form-data">
    <!-- <input type="text" name="courseId" placeholder="Enter Course Number"> -->
    <div class="field">
        <div class="control"> Select Course:
            <select id="courseId" name="courseId">
                <option value="0" disabled selected>Select</option>
                {% for coursei in courses %}
                <option value={{coursei.course_id}}>{{coursei.course_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br><br>
    Upload file containing student list:
    <input type="file" name="file" >

    <!-- <input type="text" name="studentId" placeholder="Enter Student ID"> -->
    <br><br>
    <input type="submit" value="Add Student">
</form>
{{message}}
{% endblock %}