{% extends "base.html" %} {% block content %}
<h1 class="title">
  Welcome, {{name}} (Admin)! <br />
  <a href="{{ url_for('admin.addCourse') }}"><button class="btn btn-outline-primary">Add Course</button></a>
  <a href="{{ url_for('admin.addStudent') }}"
    ><button class="btn btn-outline-primary">Register Student</button></a
  >
  <a href="{{ url_for('admin.addEducator') }}"><button class="btn btn-outline-primary">Add Educator</button></a>
</h1>

<div class="signUpUser">
  <form method="POST" action="/signUpUser" enctype="multipart/form-data">
    <input class="btn btn-outline-primary"type="file" name="file" />
    <button class="btn btn-primary">Add new users</button>
  </form>
</div>

{% endblock %}
