{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{name}} (Educatee)! 
    
</h1>


<div><form method="POST" action="/checkgrades"><button>Check grades</button></form></div>
<h2>Courses Taken:</h2>

<table>

    {% for deets in student_course %}
    <tr>
        <td>
            <a href= "{{ url_for ('educatee.viewCourseEd',course_id = deets.Course.course_id) }}"> {{deets.Course.course_name}}</a>
    
        </td>
        
    </tr>
    {% endfor %}

</table>

{% endblock %}

