{% extends "baseLoginSignup.html" %}

{% block content %}
 <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon -->

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="fadeIn first">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

              
          
              <!-- Login Form -->
              <form method="POST" action="/login">
                <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email ID">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
              </div>
          
            </div>
          </div>
{% endblock %}
