{% extends "baseLoginSignup.html" %}

{% block content %}


        <div class="wrapper fadeInDown">
            <div id="formContent">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="fadeIn first">
                        {{ messages[0] }}<br> Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}

              
          
             
              <form method="POST" action="/signup">
                <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email ID" required>

                <input type="text" id="name" class="fadeIn second" name="first_name" placeholder="First Name" required> 

                <input type="text" id="name" class="fadeIn second" name="last_name" placeholder="Last Name" required> 

                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">

                <input type="text" id="phone_no" class="fadeIn second" name="phone_no" placeholder="Phone Number" required> 

                <input type="text" id="house_no" class="fadeIn second" name="house" placeholder="House No." required> 

                <input type="text" id="street" class="fadeIn second" name="street" placeholder="Street" required> 

                <input type="text" id="locality" class="fadeIn second" name="locality" placeholder="Locality" required> 

                <input type="text" id="city" class="fadeIn second" name="city" placeholder="City" required> 

                <input type="text" id="state" class="fadeIn second" name="state" placeholder="State" required> 

                <input type="text" id="pincode" class="fadeIn second" name="pincode" placeholder="Pincode" required> 

                <input type="text" id="country" class="fadeIn second" name="country" placeholder="Country" required> 

                <input class="input is-large fadeIn second" type="date" name="dob" placeholder="DOB">
              </br></br>
                <div class="field">
                    <div class="control"> Select Role:
                        <select id="role" name="role">
                            <option value="0" disabled selected>Select</option>
                            {% for rolei in roles %}
                            <option value={{rolei.role}}>{{rolei.role_name}}</option>
                            {% endfor %}
                        </select>
                        <!-- <input class="input is-large" type="text" name="password" placeholder="Password"> -->
                    </div>
                </div>

            </br></br>

                <input type="submit" class="fadeIn fourth" value="Sign Up">
              </form>
            </div>
          </div>
            </div>
        </div>
{% endblock %}
